@model ExpenseViewModel

<h3 class="bg-info text-center">Expenses</h3>
<form asp-action="List" class="form-inline">
    <input class="form-control" type="text" name="searchString"/>
    <button type="submit" class="btn btn-sm btn-info">Search</button>
</form>

<table class="table table-bordered table-striped table-sm">
    <thead class="thead-dark">
    <tr>
        <th>
            <a asp-action="List" asp-route-sortOrder="@ViewBag.TypeSortParam" class="btn-block text-decoration-none text-white">Expense type</a>
        </th>
        <th>
            <a asp-action="List" asp-route-sortOrder="@ViewBag.AmountSortParam" class="btn-block text-decoration-none text-white">Amount</a>
        </th>
        <th>
            <a asp-action="List" asp-route-sortOrder="@ViewBag.DateSortParam" class="btn-block text-decoration-none text-white">Date</a>
        </th>
        <th class="text-white">Description</th>
        <th class="text-white">Paid</th>
        <th class="text-white">Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var expense in Model.Expenses)
    {
        <tr>
            <td>@expense.Type</td>
            <td>@expense.Amount.ToString("c")</td>
            <td>@expense.Date.ToString("dd-MM-yyyy")</td>
            <td>@expense.Description</td>
            <td class="text-center">                
                <form asp-action="MarkAsPaid" method="post">
                    <input type="hidden" name="expenseID" value="@expense.ExpenseID" />
                    <button type="submit" class="btn btn-sm @(expense.Paid ? "btn-outline-success" : "btn-outline-danger")">@expense.Paid</button>
                </form>
                </td>
            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" asp-route-expenseID="@expense.ExpenseID" class="btn btn-sm btn-secondary">Edit</a>
                    <button type="submit" class="btn btn-sm btn-secondary">Delete</button>
                    <input type="hidden" name="expenseID" value="@expense.ExpenseID" />
                </form>
            </td>
        </tr>
    }
    <tr>
        <td class="text-info">Left to pay:</td>
        <td>@Model.CalculateLeftToPay().ToString("c")</td>
        <td colspan="2"></td>
        <td class="text-center"><a asp-action="Add" class="btn btn-sm btn-secondary">Add</a></td>
    </tr>
    </tbody>
</table>